# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# top-most EditorConfig file
root = true

###############################
# Core EditorConfig Options   #
###############################
# All files
[*]
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2
charset = utf-8

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# Xml build files
[*.builds]
indent_size = 2

# Xml files
[*.{xml,stylecop,resx,ruleset}]
indent_size = 2

# YAML config files
[*.{yml,yaml}]
indent_size = 2

# Shell scripts
[*.sh]
end_of_line = lf
[*.{cmd,bat}]
end_of_line = crlf

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8
###############################
# .NET Coding Conventions     #
###############################
[*.{cs,vb}]
# Organize usings
dotnet_sort_system_directives_first = true
## IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning
# License header
file_header_template = Copyright (c) Toni Solarin-Sodara\nLicensed under the MIT license. See LICENSE file in the project root for full license information.
## IDE0073: The file header is missing or not located at the top of the file
dotnet_diagnostic.IDE0073.severity = warning
# this. preferences
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning
# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_readonly_field = true:warning
## IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = warning
# Expression-level preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = warning
# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = warning
# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = warning
# IDE0075: Simplify conditional expression
dotnet_diagnostic.IDE0075.severity = warning
# IDE0071: Simplify interpolation
dotnet_diagnostic.IDE0071.severity = warning
# CA1829: Use Length/Count property instead of Count() when available
dotnet_diagnostic.CA1829.severity = warning
# CA1827: Do not use Count() or LongCount() when Any() can be used
dotnet_diagnostic.CA1827.severity = warning
###############################
# Naming Conventions          #
###############################
# Name all constant fields using PascalCase
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style = pascal_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds   = field
dotnet_naming_symbols.constant_fields.required_modifiers = const
dotnet_naming_style.pascal_case_style.capitalization = pascal_case
# Static fields should have s_ prefix
dotnet_naming_rule.static_fields_should_have_prefix.severity = suggestion
dotnet_naming_rule.static_fields_should_have_prefix.symbols  = static_fields
dotnet_naming_rule.static_fields_should_have_prefix.style = static_prefix_style
dotnet_naming_symbols.static_fields.applicable_kinds   = field
dotnet_naming_symbols.static_fields.required_modifiers = static
dotnet_naming_symbols.static_fields.applicable_accessibilities = private, internal, private_protected
dotnet_naming_style.static_prefix_style.required_prefix = s_
dotnet_naming_style.static_prefix_style.capitalization = camel_case
# Internal and private fields should be _camelCase
dotnet_naming_rule.camel_case_for_private_internal_fields.severity = suggestion
dotnet_naming_rule.camel_case_for_private_internal_fields.symbols  = private_internal_fields
dotnet_naming_rule.camel_case_for_private_internal_fields.style = camel_case_underscore_style
dotnet_naming_symbols.private_internal_fields.applicable_kinds = field
dotnet_naming_symbols.private_internal_fields.applicable_accessibilities = private, internal
dotnet_naming_style.camel_case_underscore_style.required_prefix = _
dotnet_naming_style.camel_case_underscore_style.capitalization = camel_case
# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = warning
# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = warning
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
end_of_line = crlf
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
###############################
# C# Coding Conventions       #
###############################
[*.cs]
# Organize usings
csharp_using_directive_placement = outside_namespace:silent
# var preferences - use keywords instead of BCL types, and permit var only when the type is clear
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = false:warning
# Expression-bodied members
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning
csharp_style_prefer_not_pattern = true
## IDE0083: Use pattern matching
dotnet_diagnostic.IDE0083.severity = warning
# Null-checking preferences
csharp_style_throw_expression = true:warning
csharp_style_conditional_delegate_call = true:warning
# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:warning
# Expression-level preferences
csharp_prefer_braces = true:silent
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:warning
## IDE0034: Simplify 'default' expression
dotnet_diagnostic.IDE0034.severity = warning
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:warning
###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
dotnet_style_allow_multiple_blank_lines_experimental=false:warning
# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = true
csharp_indent_labels = one_less_than_current
# Space preferences
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = do_not_ignore
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false
# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent


#SonarQube warnings
# s1116: Empty statements should be removed
dotnet_diagnostic.S1116.severity = suggestion
# Unused local variables should be removed
dotnet_diagnostic.S1481.severity = suggestion
# s1854: Unused assignments should be removed
dotnet_diagnostic.S1854.severity = suggestion
# s125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = suggestion
# s108: Nested blocks of code should not be left empty
dotnet_diagnostic.S108.severity = suggestion
# s4136: Method overloads should be grouped together
dotnet_diagnostic.S4136.severity = suggestion
# s1172: Unused method parameters should be removed
dotnet_diagnostic.S1172.severity = suggestion
# s101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = suggestion
# s2346: Flags enumerations zero-value members should be named "None"
dotnet_diagnostic.S2346.severity = suggestion
# s112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = suggestion
# s3885: "Assembly.Load" should be used
dotnet_diagnostic.S3885.severity = suggestion
# s1751: Loops with at most one iteration should be refactored
dotnet_diagnostic.S1751.severity = suggestion
# s3881: "IDisposable" should be implemented correctly
dotnet_diagnostic.S3881.severity = suggestion

# s1075: uris should not be hardcoded
dotnet_diagnostic.s1075.severity = suggestion
# s1118: Utility classes should not have public constructors
dotnet_diagnostic.s1118.severity = suggestion
# s3928: Parameter names used into ArgumentException constructors should match an existing one
# dotnet_diagnostic.s3928.severity = suggestion
# s1135: Track uses of "TODO" tags
dotnet_diagnostic.s1135.severity = suggestion
# s1121: Assignments should not be made from within sub-expressions
dotnet_diagnostic.s1121.severity = suggestion
# s2344: Enumeration type names should not have "Flags" or "Enum" suffixes
dotnet_diagnostic.s2344.severity = suggestion
# s3871: Exception types should be "public"
dotnet_diagnostic.s3871.severity = suggestion
# s3267: Loop(s) should be simplified
dotnet_diagnostic.s3267.severity = suggestion
# s3963: "static" fields should be initialized inline
dotnet_diagnostic.s3963.severity = suggestion
# s1066: Collapsible "if" statements should be merged
dotnet_diagnostic.s1066.severity = suggestion
# s3260: Non-derived "private" classes and records should be "sealed"
dotnet_diagnostic.s3260.severity = silent
# s1168: Empty arrays and collections should be returned instead of null
dotnet_diagnostic.s1168.severity = suggestion
# s2190: Recursion should not be infinite
dotnet_diagnostic.s2190.severity = suggestion
# s3217: "Explicit" conversions of "foreach" loops should not be used
dotnet_diagnostic.s3217.severity = suggestion
# s1450: Private fields only used as local variables in methods should become local variables
dotnet_diagnostic.s1450.severity = suggestion
# s1186: Methods should not be empty
dotnet_diagnostic.s1186.severity = suggestion
# s4070: Non-flags enums should not be marked with "FlagsAttribute"
dotnet_diagnostic.s4070.severity = suggestion
# s3376: Attribute, EventArgs, and Exception type names should end with the type being extended
dotnet_diagnostic.s3376.severity = suggestion
# s1133: Deprecated code should be removed
dotnet_diagnostic.s1133.severity = suggestion
# s3903: Types should be defined in named namespaces
dotnet_diagnostic.s3903.severity = suggestion
# s2699: Tests should include assertions
dotnet_diagnostic.s2699.severity = suggestion
# s3626: Jump statements should not be redundant
dotnet_diagnostic.s3626.severity = suggestion
# s2259: Null pointers should not be dereferenced
dotnet_diagnostic.s2259.severity = suggestion
# s5445: Insecure temporary file creation methods should not be used
dotnet_diagnostic.s5445.severity = silent

# ToDo list for findings
# s2971: "IEnumerable" LINQs should be simplified
# dotnet_diagnostic.S2971.severity = suggestion
# s927: Parameter names should match base declaration and other partial definitions
# dotnet_diagnostic.S927.severity = suggestion
# s2589: Boolean expressions should not be gratuitous
# dotnet_diagnostic.S2589.severity = suggestion
# s3442: "abstract" classes should not have "public" constructors
# dotnet_diagnostic.S3442.severity = suggestion
