language: csharp
mono: none
dotnet: 2.0.0
os: linux
dist: trusty
sudo: false
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
script:
  - dotnet msbuild build.proj
  - dotnet msbuild build.proj /p:Configuration=Release