version: '{build}'
image:
  - Visual Studio 2017
  - Ubuntu
configuration:
  - Debug
  - Release
skip_tags: true
build_script:
  - ps: echo "Building for $env:CONFIGURATION on $env:APPVEYOR_BUILD_WORKER_IMAGE"
  - ps: dotnet msbuild build.proj /p:Configuration=$env:CONFIGURATION
test_script:
  - ps: if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }
  - ps: |
      if ($env:APPVEYOR_BUILD_WORKER_IMAGE -eq "Ubuntu" -and $env:CONFIGURATION -eq "Release") {
        curl -s https://codecov.io/bash > codecov
        chmod +x codecov
        ./codecov -f ./test/coverlet.core.tests/coverage.opencover.xml
      }
artifacts:
- path: src\coverlet.msbuild.tasks\bin\Release\*.nupkg
- path: build\Release\*.nupkg
