version: '{build}'
configuration:
  - Debug
  - Release
build_script:
  - echo "Building for %CONFIGURATION%"
  - dotnet msbuild build.proj /p:Configuration=%CONFIGURATION%
test_script:
  - ps: if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }
  - cmd: '%USERPROFILE%\.nuget\packages\coveralls.net\0.7.0\tools\csmacnz.Coveralls.exe --opencover -i test\coverlet.core.tests\coverage.xml --useRelativePaths'
cache:
  - '%USERPROFILE%\.nuget\packages'