<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Local path where you build packages -->
    <add key="localpackagesbuild" value="C:\GitHub\coverlet\bin\Debug\Packages" />
    <!-- Defaul nuget feed -->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!-- Add all other needed feed -->
  </packageSources>
</configuration>
