<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Coverlet nightly build feed -->
    <add key="coverletNightly" value="https://pkgs.dev.azure.com/tonerdo/coverlet/_packaging/coverlet-nightly/nuget/v3/index.json" />
    <!-- dotnet-libraries feed -->
    <!-- https://dev.azure.com/dnceng/public/_artifacts/feed/dotnet-libraries/NuGet/System.CommandLine/versions -->
    <add key="dotnet-libraries" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-libraries/nuget/v3/index.json" />
    <!-- Default nuget feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
</packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-libraries">
      <package pattern="System.CommandLine" />
    </packageSource>
  </packageSourceMapping>
</configuration>
