pool:
  vmImage: 'windows-latest'

steps:
- task: UseDotNet@2
  inputs:
    useGlobalJson: true
    displayName: Use .NET SDK from global.json

- task: NuGetAuthenticate@1
  displayName: Authenticate with NuGet feeds

- script: dotnet restore
  displayName: Restore packages

- script: dotnet pack -c Release /p:PublicRelease=false
  displayName: Create NuGet packages

- task: NuGetCommand@2
  inputs:
    command: push
    packagesToPush: $(Build.SourcesDirectory)\artifacts\package\release\*.nupkg
    nuGetFeedType: internal
    publishVstsFeed: coverlet/coverlet-nightly
  displayName: Publish NuGet packages

- task: NuGetCommand@2
  inputs:
    command: push
    packagesToPush: $(Build.SourcesDirectory)\artifacts\package\release\*.snupkg
    nuGetFeedType: internal
    publishVstsFeed: coverlet/coverlet-nightly
  displayName: Publish NuGet symbol packages
