pool:
  vmImage: 'windows-2019'
steps:
- task: UseDotNet@2
  inputs:
    version: 2.2.300
- powershell:
    .\eng\nightly.ps1 -apiKey $env:APIKEY -source $env:SOURCE
  ignoreLASTEXITCODE: true
  env:
    APIKEY: $(apikey)
    SOURCE: $(source)
