pool:
  vmImage: 'windows-latest'

steps:
- task: UseDotNet@2
  inputs:
    version: 8.0.417
  displayName: Install .NET Core SDK 8.0.417

- task: UseDotNet@2
  inputs:
    useGlobalJson: true
    displayName: Use .NET SDK from global.json

# create artifact/package folder
- pwsh: |
    New-Item -ItemType Directory -Path artifacts/package/debug -Force
    New-Item -ItemType Directory -Path artifacts/package/release -Force
  displayName: create folder artifacts/package/$(BuildConfiguration)

- task: NuGetAuthenticate@1
  displayName: Authenticate with NuGet feeds

- script: dotnet restore
  displayName: Restore packages

- script: dotnet pack -c Release /p:PublicRelease=false
  displayName: Create NuGet packages

- task: NuGetCommand@2
  inputs:
    command: push
    packagesToPush: $(Build.SourcesDirectory)\artifacts\package\release\*.nupkg
    nuGetFeedType: internal
    publishVstsFeed: coverlet/coverlet-nightly
  displayName: Publish NuGet packages

- task: NuGetCommand@2
  inputs:
    command: push
    packagesToPush: $(Build.SourcesDirectory)\artifacts\package\release\*.snupkg
    nuGetFeedType: internal
    publishVstsFeed: coverlet/coverlet-nightly
  displayName: Publish NuGet symbol packages
