trigger:
  branches:
    include: ["master", "*_validate"]
  paths:
    exclude: [".github", "Documentation", "*.md"]

variables:
  system.debug: false
  frameworks: 'net8.0,net9.0,net10.0'

jobs:
- job: Windows
  displayName: Windows
  continueOnError: 'true'
  timeoutInMinutes: 30
  cancelTimeoutInMinutes: 5
  strategy:
    matrix:
      Debug:
        buildConfiguration: "debug"
      Release:
        buildConfiguration: "release"
  pool:
    vmImage: 'windows-latest'
  steps:
  - template: build.yml
  - task: CopyFiles@2
    displayName: Collect packages
    inputs:
      SourceFolder: artifacts\package\$(buildConfiguration)
      Contents: |
        *.nupkg
        *.snupkg
      TargetFolder: $(Build.ArtifactStagingDirectory)\Packages
    condition: eq(variables['buildConfiguration'], 'release')
  - task: PublishBuildArtifacts@1
    displayName: Publish packages as build artifacts
    inputs:
      PathtoPublish: $(Build.ArtifactStagingDirectory)\Packages
      ArtifactName: Packages
      publishLocation: Container
    condition: eq(variables['buildConfiguration'], 'release')
  - task: PublishBuildArtifacts@1
    displayName: Publish tests artifacts
    inputs:
      PathtoPublish: $(Build.SourcesDirectory)\artifacts\publish
      ArtifactName: PublishedTests
      publishLocation: Container
    condition: eq(variables['buildConfiguration'], 'debug')
  - template: CheckNugetStatus.yml
    parameters:
      sourcePath: '$(Build.SourcesDirectory)/src'
      breakBuild: false
      condition: and(succeeded(), eq(variables['buildConfiguration'], 'debug'), eq(variables['agent.os'], 'Windows_NT'))

- job: macOS
  displayName: macOS
  continueOnError: 'true'
  timeoutInMinutes: 30
  cancelTimeoutInMinutes: 5
  strategy:
    matrix:
      Debug:
        buildConfiguration: "debug"
      Release:
        buildConfiguration: "release"
  pool:
    vmImage: 'macOS-latest'
  steps:
  - template: build.yml

- job: Linux
  displayName: Linux
  continueOnError: 'true'
  timeoutInMinutes: 30
  cancelTimeoutInMinutes: 5
  strategy:
    matrix:
      Debug:
        buildConfiguration: "debug"
      Release:
        buildConfiguration: "release"
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - template: build.yml
