pool:
  vmImage: 'windows-latest'

steps:
- task: UseDotNet@2
  inputs:
    version: 6.0.408
  displayName: Install .NET Core SDK 6.0.408

- task: UseDotNet@2
  inputs:
    version: 7.0.203
  displayName: Install .NET Core SDK 7.0.203

- task: NuGetAuthenticate@0
  displayName: Authenticate with NuGet feeds

- script: dotnet pack -c Release /p:PublicRelease=false
  displayName: Create NuGet packages

- task: NuGetCommand@2
  inputs:
    command: push
    packagesToPush: $(Build.SourcesDirectory)/bin/Release/Packages/*.nupkg
    nuGetFeedType: internal
    publishVstsFeed: coverlet/coverlet-nightly
  displayName: Publish NuGet packages

- task: NuGetCommand@2
  inputs:
    command: push
    packagesToPush: $(Build.SourcesDirectory)/bin/Release/Packages/*.snupkg
    nuGetFeedType: internal
    publishVstsFeed: coverlet/coverlet-nightly
  displayName: Publish NuGet symbol packages
