pool:
  vmImage: 'windows-latest'

steps:
- task: UseDotNet@2
  inputs:
    version: 8.0.412
  displayName: Install .NET Core SDK 8.0.412

- task: UseDotNet@2
  inputs:
    useGlobalJson: true
  displayName: Install .NET Core SDK (global.json)

- task: NuGetAuthenticate@1
  displayName: Authenticate with NuGet feeds

- script: dotnet pack -c Release /p:PublicRelease=false
  displayName: Create NuGet packages

- task: NuGetCommand@2
  inputs:
    command: push
    packagesToPush: $(Build.SourcesDirectory)\artifacts\package\release\*.nupkg
    nuGetFeedType: internal
    publishVstsFeed: coverlet/coverlet-nightly
  displayName: Publish NuGet packages

- task: NuGetCommand@2
  inputs:
    command: push
    packagesToPush: $(Build.SourcesDirectory)\artifacts\package\release\*.snupkg
    nuGetFeedType: internal
    publishVstsFeed: coverlet/coverlet-nightly
  displayName: Publish NuGet symbol packages
