pool:
  vmImage: 'windows-2019'

steps:
- task: UseDotNet@2
  inputs:
    version: 3.1.404
  displayName: Install .NET Core SDK 3.1.404

- task: UseDotNet@2
  inputs:
    version: 6.0.201
  displayName: Install .NET Core SDK 6.0.201

- task: NuGetAuthenticate@0
  displayName: Authenticate with NuGet feeds

- script: dotnet pack -c Release /p:PublicRelease=false
  displayName: Create NuGet packages

- task: NuGetCommand@2
  inputs:
    command: push
    packagesToPush: $(Build.SourcesDirectory)/bin/Release/Packages/*.nupkg
    nuGetFeedType: internal
    publishVstsFeed: coverlet/coverlet-nightly
  displayName: Publish NuGet packages

- task: NuGetCommand@2
  inputs:
    command: push
    packagesToPush: $(Build.SourcesDirectory)/bin/Release/Packages/*.snupkg
    nuGetFeedType: internal
    publishVstsFeed: coverlet/coverlet-nightly
  displayName: Publish NuGet symbol packages
