name: Close inactive issues
on:
  schedule:
    - cron: "0 1 * * 0"
  workflow_dispatch:

env:
  DAYS_BEFORE_ISSUE_CLOSE: 275

permissions:
  contents: read

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v10
        with:
          exempt-issue-labels: "bug,tracking-external-issue,Known Issue"
          days-before-issue-close: ${{ env.DAYS_BEFORE_ISSUE_CLOSE }}
          close-issue-message: "This issue was closed because it has been inactive for ${{ env.DAYS_BEFORE_ISSUE_CLOSE }} days since being marked as stale."
          days-before-pr-stale: -1
          days-before-pr-close: -1
          operations-per-run: 100
          repo-token: ${{ secrets.GITHUB_TOKEN }}
